[submodule "install/kubernetes/tmeps/recommenders-addons"]
	path = install/kubernetes/tmeps/recommenders-addons
	url = https://github.com/tensorflow/recommenders-addons.git
[submodule "install/kubernetes/tmeps/serving"]
	path = install/kubernetes/tmeps/serving
	url = https://github.com/tensorflow/serving.git
