{
  "singleQuote": true,
  "trailingComma": "all",
  "printWidth": 120,
  "semi": true,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ],
  "bracketSpacing": true,
  "arrowParens": "avoid",
  "endOfLine": "lf"
}
