.input-icon-copy {
    position: absolute;
    width: 20px;
    left: -4px;
    /* right: -24px;
    top: 8px; */
    cursor: pointer;
}
.input-icon-edit {
    position: absolute;
    width: 20px;
    left: -4px;
    /* right: -24px;
    bottom: 8px; */
    cursor: pointer;
}
.sc-box{
    width: 20%;
    position: absolute;
    right: 0;
    top: 0;
    height: 600px;
    /* background-color: #000; */
}