apiVersion: app.k8s.io/v1beta1
kind: Application
metadata:
  name: knative-eventing-install
spec:
  selector:
    matchLabels:
      app.kubernetes.io/name: knative-eventing-install
      app.kubernetes.io/component: knative-eventing-install
  componentKinds:
  - group: core
    kind: ConfigMap
  - group: apps
    kind: Deployment
  descriptor:
    type: knative-eventing-install
    version: v1beta1
    description: ""
    maintainers: []
    owners: []
    keywords:
     - knative-eventing-install
     - kubeflow
    links:
    - description: About
      url: ""
  addOwnerRef: true
