@import '~antd/dist/antd.css';
.SceneRegistrationClass {
  margin: 80px;
}
.SceneRegistrationClass .bodyClass {
  width: 936px;
  margin: 0 auto;
  color: #000000;
  font-size: 14px;
}
.SceneRegistrationClass .bodyClass .SceneHeader {
  color: #000000;
  text-align: center;
  font-weight: bold;
}
.SceneRegistrationClass .bodyClass .site-card-border-less-wrapper {
  padding: 20px;
}
.SceneRegistrationClass .bodyClass .site-card-border-less-wrapper .preservationClass {
  width: 294px;
  height: 40px;
  color: #ffffff;
  background-color: #ff5733;
  border-radius: 4px;
  font-size: 14px;
  margin-left: 25%;
}
.SceneRegistrationClass .bodyClass .site-card-border-less-wrapper .ant-card-head-title {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}
.ant-card-bordered {
  border: 1px solid #f0f0f0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04)
}