@import '~antd/dist/antd.css';
.SceneRegistrationClass {
  margin: 80px;
}
.SceneRegistrationClass .bodyClass {
  width: 1200px;
  margin: 0 auto;
  color: #000000;
  font-size: 14px;
}
.SceneRegistrationClass .bodyClass .SceneHeader {
  color: #000000;
  text-align: center;
  font-weight: bold;
}
.SceneRegistrationClass .bodyClass .site-card-border-less-wrapper {
  padding: 20px;
}
.SceneRegistrationClass .bodyClass .site-card-border-less-wrapper .preservationClass {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 4px;
  font-size: 14px;
}
.SceneRegistrationClass .bodyClass .site-card-border-less-wrapper .ant-card-head-title {
  color: #000000;
  font-size: 14px;
  font-weight: bold;
}
