<!DOCTYPE html>
<html lang="en">
<head>
    <title>Redirect</title>
    <script>
        var _hmt = _hmt || [];
        (function() {
          var hm = document.createElement("script");
          hm.src = "https://hm.baidu.com/hm.js?5ecdde570af44e8404755391f83a4307";
          var s = document.getElementsByTagName("script")[0];
          s.parentNode.insertBefore(hm, s);
        })();
    </script>

</head>
<body>
<div id="terminal"></div>
<script>
    window.open('{{ data.url }}','_self')

</script>
</body>
</html>
