package {{package}}

import (
	"github.com/kubeflow/manifests/tests"
	"testing"
)

func TestKustomize(t *testing.T) {
	testCase := &tests.KustomizeTestCase{
		Package: "{{package_dir}}",
		Expected: "test_data/expected",
	}

	tests.RunTestCase(t, testCase)
}
