<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>服务维护中</title>

    <style>
        html,
        body {
            height: 100%;
            padding: 0;
            margin: 0;
            text-align: center;
        }

        .moa-tmp__wrapper {
            position: relative;
            padding-top: 15vh;
        }

        .moa-tmp__tip {
            font-size: 28px;
            font-weight: bold;
        }

        .moa-tmp__time {
            padding-top: 5vh;
        }
    </style>
</head>

<body>
    <div>
        <div class="moa-tmp">
            <div class="moa-tmp__wrapper">
                <span class="moa-tmp__main">
                    <img src="https://prodpublic-1253428821.cos.ap-guangzhou.myqcloud.com/public/oa_ui/template/maintaining.png"
                        alt="系统维护中" class="moa-tmp__sketch">
                    <img src="https://prodpublic-1253428821.cos.ap-guangzhou.myqcloud.com/public/oa_ui/template/cloud_mini.png"
                        class="moa-tmp__cloud-mini">
                    <span class="moa-tmp__cloud-group">
                        <img src="https://prodpublic-1253428821.cos.ap-guangzhou.myqcloud.com/public/oa_ui/template/cloud_light.png"
                            class="moa-tmp__cloud-light">
                        <img src="https://prodpublic-1253428821.cos.ap-guangzhou.myqcloud.com/public/oa_ui/template/cloud_large.png"
                            class="moa-tmp__cloud-large">
                    </span>
                </span>
            </div>
            <div class="moa-tmp__wrapper">
                <span class="moa-tmp__tip">系统维护中</span>
                <div class="moa-tmp__time">具体恢复时间请咨询 系统管理员  </div>
            </div>
        </div>
    </div>
</body>

</html>